<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piq2015.piQ" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="piQ"
        android:theme="@style/PiQTheme">
        <activity
            android:name="com.piq2015.piQ.activities.MainActivity"
            android:label="piQ"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.GameActivity"
            android:label="Game"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piq2015.piQ.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.GameOverActivity"
            android:label="Game Over"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.HighScoresActivity"
            android:label="High Scores"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piq2015.piQ.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.PracticeActivity"
            android:label="Practice"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piq2015.piQ.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.ShowPiActivity"
            android:label="Show Pi"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piq2015.piQ.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.piq2015.piQ.activities.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
